// Colours
$white: #fff;
$black: #000;
$pink: #e13bff;
$purple: #8a0bdb;
$grey: #95989a;
$lightGrey: #f0f0f0;
$darkGrey: #1f1f1f;
// Fonts
$nunitoLight: "NunitoLight", sans-serif;
$nunitoBlack: "NunitoBlack", sans-serif;

$openSans: "OpenSansRegular", sans-serif;
