.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    #wrapper-navbar {
        nav {
            ul {
                li {
                    padding: 0 1rem;

                    &:last-of-type {
                        border: 1px solid $white;
                        border-radius: 20px;
                        
                        @include media-breakpoint-down(md) {
                            border-radius: 30px;
                        }

                        a {
                            @include media-breakpoint-down(md) {
                                text-align: center;
                            }
                        }

                        &:hover {
                            background: $white;
                            
                            a {
                                color: $black;
                            }
                        }
                    }

                    a {
                        color: $white;
                        font-weight: 200;
                        text-align: center;
                        position: relative;
                        overflow:hidden;
                        transition: .3s;

                        @include media-breakpoint-down(md) {
                            text-align: left;
                            padding: 1rem 0;
                        }
                    }

                    ul {
                        background: transparent;
                        border: none;

                        li {
                            border: none !important;
                            border-radius: none !important;

                            a {
                                @include media-breakpoint-down(md) {
                                    text-align: left !important;
                                    color: $grey;
                                }

                                &:after {
                                    position: absolute;
                                    transition: .3s;
                                    content: '';
                                    width: 0;
                                    left: 50%;
                                    bottom: 0;
                                    height: 3px;
                                    background: $white;
                                }

                                &:hover {
                                    &:after {
                                        width: 100%;
                                        left: 0;
                                    }
                                }

                                &:hover {
                                    background: transparent;
                                }
                            }

                            &:hover {
                                background: transparent !important;

                                a {
                                    color: $white !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md) {
            text-align: right;
        }

        .navbar {
            @include media-breakpoint-down(md) {

                .toggle-btn{   
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: -60px;
                    right: 0;
                    border: none;
                    z-index: 99;
                    transition-duration: 0.5s;
                    
                    span {
                        transition-duration: 0.5s;
                        opacity: 1;
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        top: 22px;
                        left: 0;
                        background-color: $white;
                      
                      &:before,
                      &:after {
                        width: 100%;
                        height: 3px;
                        width: 100%;
                        background: $white;
                        transition-duration: 0.5s;
                        position: absolute;
                        left: 0;
                        content: "";  
                    }
                
                    &:before {
                        top: -10px;
                    }
                
                    &:after {
                        bottom: -10px;
                    }
                    }
                    
                    &.open {
                      span {
                        transition-duration: 0.5s;
                        background: transparent;
                        
                        &:before {
                            opacity: 1;
                            background: #fff;
                            transform: rotateZ(135deg) scaleX(1) translate(0, 0);
                        }
                  
                        &:after {
                            opacity: 1;
                            background: #fff;
                            transform: rotateZ(-135deg) scaleX(1) translate(13px, 13px);
                        }
                      }
                    }
                  }
            }
        }
    }
}

// Bootstrap overides

[data-toggle="dropdown"]:after {
    font-family: "FontAwesome";
    font-weight: 200;
    content: "\f107";
  }
  
  .show [data-toggle="dropdown"]:after {
    content: "\f106";
  }
  
  .dropdown-toggle {
    display: flex;
  }

  .dropdown-toggle:after {
    border: none;
  }