.prices-container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1, h2, h3, h4, h5, h6 {
        font-family: $openSans;
    }

    &:nth-child(even) {
        background: $lightGrey;
    }

    &:nth-child(odd) {
        background: $grey;

        h1, h2, h3, h4, h5, h6, p, a {
            color: $white;
        }
    }
}