.testimonial {
    background: $purple;
    height: 500px;
    padding: 5rem 0;
}

.slick-list {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    max-width: 850px;

    h4, p {
        color: $white;
        font-style: italic;
    }

    p {
        font-weight: 200;
    }
}