* {
    font-family: $openSans;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $nunitoLight;
    font-weight: 200;
}

h3 {
    font-size: 1.75rem;
} 

a  {
    transition: .2s ease all;
}

button{
    &:focus {
        outline: none;
    }
}